page-borrowed-books {

    h5{
        text-align: center;
        margin-bottom: 20px !important;
        color: gray;
    }

    h2{
        font-size: 20px !important;
        color: blue !important;
        margin-bottom: 5px !important;
    }

    #returned{
        margin-top: -30px !important;
        float: right;
    }

}
