page-updates {

    ion-segment{
        background-color: white !important;
    }

    ion-segment-button{
        color: red !important;
        font-weight: bold !important;
        font-size: 13px !important;
        border: 1px solid black;
    }

    h5{
        text-align: center;
        color: gray !important;
        margin-bottom: 5px;
    }

}
