page-search {

    h2{
        margin-top: 15% !important;
        margin-bottom: 15% !important;
        text-align: center;
        color: blue !important;
    }

    ion-searchbar{
        line-height: 50px !important;
        height: 50px !important;
        margin-bottom: 15% !important;
    }

    button{
        max-width: 60% !important;
        margin-left: 20% !important;
    }

}
