page-see-layouts {

    ion-card-header{
        color: blue !important;
        font-size: 22px !important;
    }

    ion-list button{
        color: black !important;
        font-size: 18px !important;
        margin-top: 10px !important;
    }

}
